* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #121725;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: #121725;
    color: #C2CBE5;
    box-sizing: border-box;
    background-image: url("../images/image-host.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width:768px) {
    body {
        background: url("../images/image-host-tablet.jpg") right top no-repeat, url("../images/bg-pattern-dots.svg") left bottom no-repeat;
        background-size: unset;
        background-blend-mode: normal;
    }
}

@media only screen and (min-width:1200px) {
    body {
        background-image: url("../images/image-host-desktop.jpg");
        background-position: right center;
    }
}

.content {
    flex: 1 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.footer {
    flex-shrink: 0;
}


/*------------------------------------------------------------------------------------------------------------------*/

.logo img {
    width: 135px;
    height: 56px;
}

.logo {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 57px;
}

@media only screen and (min-width:768px) {
    .logo {
        text-align: left;
        margin-top: 50px;
        margin-bottom: 152px;
    }
}

@media only screen and (min-width:1440px) {
    .logo {
        margin-top: 102px;
        margin-bottom: 103px;
        margin-left: 165px;
    }
}


/*------------------------------------------------------------------------------------------------------------------*/

h1 {
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    margin-bottom: 16px;
}

.green {
    color: #54E6AF;
}

.main {
    text-align: center;
}

p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 33px;
}


/*------------------------------------------------------------------------------------------------------------------*/

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 48px;
}

.icons {
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 17%;
    background-position: center;
    background-size: contain;
}

.icons.spotify {
    background-image: url("../images/spotify.svg");
    margin-right: 23px;
}

.icons.apple {
    background-image: url("../images/apple-podcast.svg");
    margin-right: 25px;
}

.icons.google {
    background-image: url("../images/google-podcasts.svg");
    margin-right: 16px;
}

.icons.pocket {
    background-image: url("../images/pocket-casts.svg");
}


/*------------------------------------------------------------------------------------------------------------------*/

.interactive {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 9px 32px;
    box-sizing: border-box;
    border-radius: 28px;
    border: none;
    line-height: 28px;
    background-color: #2C344B;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    max-width: 427px;
}

button {
    width: 100%;
    margin-top: 16px;
    height: 46px;
    background-color: #54E6AF;
    color: #121725;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    max-width: 427px;
}


/*------------------------------------------------------------------------------------------------------------------*/

.footer {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
}

.footer a {
    text-decoration: none;
    color: #54E6AF;
}


/*------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width:768px) {
    .main {
        background-color: #121725;
        width: 635px;
        padding-top: 93px;
        text-align: left;
    }
    h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 31px;
    }
    .content {
        margin-left: 39px;
    }
    .brands {
        width: 536px;
    }
    .interactive {
        flex-direction: column-reverse;
    }
    p {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 28px;
        max-width: 445px;
    }
    button {
        width: 162px;
        position: absolute;
        top: 0;
        margin: 0;
        right: 0;
    }
    form {
        position: relative;
        width: 427px;
        margin-bottom: 50px;
    }
    .footer {
        padding-top: 30px;
        text-align: right;
    }
}